{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    </br><h3 style="display: inline; color:green">{{user.username}}</h3>님 환영합니다🖐<hr></hr></br>
    {% endif %}
    {% if not user.is_authenticated %}
    </br><h4>로그인 해주세요🔒</h4><hr></hr></br>
    {% endif %}
    <div class="container">
    {% for blog in blogs%}
        <div>
        <h4 style="color: orange">{{blog.title}}</h4>
        <!-- {{blog.id}} -->
        {{blog.writer}}
        {{blog.summary}}
        {% if blog.image %}
        <p><img src="{{blog.image.url}}" alt="" width="100" height="100"></p>
        {% endif %}
        <a href = "{%url 'detail' blog.id %}">...more</a></br></br>
        <br>
        </div>
    {% endfor %}
    </div>

    {% if blogs.has_previous%}
    <a href="?page=1">처음</a>
    <a href="?page={{blogs.previous_page_number}}">이전</a>
    {% endif %}
    <span>{{blogs.number}}</span>
    <span>of</span>
    <span>{{blogs.paginator.num_pages}}</span>
    {% if blogs.has_next%}
    <a href="?page={{blogs.next_page_number}}">다음</a>
    <a href="?page={{blogs.paginator.num_pages}}">마지막</a>
    {% endif %}

{% endblock %}